:root{
    --w_total:8px;
    --h_total:4.5px;

    --w_margin_tec:calc(var(--w_total) * 5);
    --w_size_tec:calc(var(--w_total) * 90);

    --h_margin_tec:calc(var(--h_total) * 5);
    --h_size_tec:calc(var(--h_total) * 90);

    --w_tec:calc(var(--w_total) * 9 / 10);
    --h_tec:calc(var(--h_total) * 9 / 10);

    --w_margin_lb:calc(var(--w_tec) * 0.5);
    --w_font_A:calc(var(--w_tec) * 1.3);
    --w_font_B:calc(var(--w_tec) * 2.3125);
    --w_size_lbB:calc(var(--w_tec) * 4.625);
    --w_margin_tecItem:calc(var(--w_tec) * 5);
    --w_size_total_lbB:calc(var(--w_tec) * 5.625);
    --w_size_lbA:calc(var(--w_tec) * 6.5);
    --w_size_total_lbA:calc(var(--w_tec) * 7.5);
    --w_size_four_lbAs:calc(var(--w_tec) * 30);
    --w_size_nine_lbAs:calc(var(--w_tec) * 67.5);

    --h_margin_lb:calc(var(--h_tec) * 0.5);
    --h_margin_tecItem:calc(var(--h_tec) * 5);
    --h_size_half_lbA:calc(var(--h_tec) * 5.75);
    --h_size_total_harf_lbA:calc(var(--h_tec) * 6.25);
    --h_size_lbB:calc(var(--h_tec) * 9);
    --h_size_total_lbB:calc(var(--h_tec) * 10);
    --h_size_lbA:calc(var(--h_tec) * 11.5);
    --h_size_total_lbA:calc(var(--h_tec) * 12.5);
    --h_space_PB_LB:calc(var(--h_tec) * 66);

    --font_size:min(var(--w_font_A),var(--h_size_lbA));
    --font_size_a:min(var(--w_font_A),var(--h_size_half_lbA));
    --font_size_b:min(var(--w_font_B),var(--h_size_lbB));
}

*{
    -webkit-appearance: none;
}

html{
    font-family:sans-serif;
    overflow:hidden;
    background-color:white;
}

button,label{
    display:block;
    float:left;
    width:var(--w_size_lbA);
    height:var(--h_size_lbA);
    margin:var(--h_margin_lb) var(--w_margin_lb);
    font-size:var(--font_size);
    text-align:center;
    background-color:white;
}

.t_container{
    display:block;
    float:left;
    width:var(--w_size_lbA);
    height:var(--h_size_half_lbA);
    margin:var(--h_margin_lb) var(--w_margin_lb) 0px;
}
.toggle{
    width:var(--w_size_lbA);
    height:var(--h_size_half_lbA);
    margin:0px;
}

.t_label{
    display:block;
    float:left;
    width:var(--w_size_lbA);
    height:var(--h_size_half_lbA);
    margin:0px var(--w_margin_lb) var(--h_margin_lb);
    font-size:var(--font_size_a);
}

.hori{
    display:block;
    float:left;
}

.container{
    width:var(--w_size_tec);
    height:var(--h_size_tec);
    margin:var(--h_margin_tec) var(--w_margin_tec);
    border-radius:10px;
    background-color:darkgreen;
}

.item{
    margin:var(--h_margin_tecItem) 0px;
}

.l_item{
    width:var(--w_size_total_lbA);
    margin-left:var(--w_margin_tecItem);
}

#power{
    margin-bottom:var(--h_space_PB_LB)
}

.c_item{
    width:var(--w_size_nine_lbAs);
    margin-left:var(--w_size_total_lbA);
}

.d_ls,.bs{
    margin-top:var(--h_margin_tecItem);
}
.rfs,.d_ss{
    margin-top:var(--h_size_total_lbB);
}

#c_lamp{
    margin-left:var(--w_size_total_lbB);
}

.sl_a{
    height:var(--h_size_total_lbA);
}

.r{
    margin-left:var(--w_size_total_lbA);
}

.rfs{
    height:var(--h_size_total_lbB);
}

.rf{
    display:block;
    float:left;
    width:var(--w_size_lbB);
    height:var(--h_size_lbB);
    margin:var(--h_margin_lb) var(--w_margin_lb);
    font-size:var(--font_size_b);
}

.r_item{
    width:var(--w_size_total_lbA);
    margin-left:var(--w_margin_lb);
}
#run_lamp{
    margin-top:var(--h_size_total_harf_lbA);
}

